.button-theme {
    padding: 15px;
    font-size: 1.1em;
    border-radius: 2px;
    min-width: 230px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
}

.button-theme + .button-theme {
    margin-left: 15px;
}

.button-theme.button-primary {
    background-color: var(--primary-color);
    color: var(--white) !important;
}

.button-theme.button-primary:hover {
    background-color: var(--primary-hover);
    color: var(--white) !important;
}

.button-theme.button-outline {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white) !important;
}

.button-theme.button-outline:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.header {
    background-color: #fff;
    position: relative;
}

.header .header-navigation > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.header .header-navigation > ul > li {
    position: relative;
}

.header .header-navigation > ul > li + li {
    margin-left: 25px;
}

.header .header-navigation > ul > li > a {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    padding: 22px 0;
    position: relative;
    letter-spacing: 0.3px;
}

.header .header-navigation > ul > li > a i {
    -webkit-transition: .3s transform linear;
    -o-transition: .3s transform linear;
    transition: .3s transform linear;
    font-size: 1.1em;
}

.header .header-navigation > ul > li > a:before {
    bottom: 18px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: 1px;
    position: absolute;
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.header .header-navigation > ul > li:hover > a:before {
    opacity: 1;
    visibility: visible;
}

.header .header-navigation > ul > li:hover > a i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header .header-navigation > ul > li > ul {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    min-width: 220px;
    white-space: nowrap;
    background-color: var(--white);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 4px 8px rgb(97 97 97 / 10%), 0px 8px 16px rgb(97 97 97 / 10%);
    box-shadow: 0px 4px 8px rgb(97 97 97 / 10%), 0px 8px 16px rgb(97 97 97 / 10%);
    z-index: 10;
}

.header .header-navigation > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 100%;
}

.header .header-navigation > ul > li > ul > li + li {
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.header .header-navigation > ul > li > ul > li > a {
    display: block;
    padding: 12px 15px;
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 700;
    position: relative;
}

.header .header-navigation > ul > li > ul > li > a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    background-color: var(--primary-color);
}

.header .header-navigation > ul > li > ul > li > a:hover {
    padding-left: 30px;
    color: var(--primary-color);
}

.header .header-navigation > ul > li > ul > li > a:hover:before {
    left: 15px;
    opacity: 1;
    visibility: visible;
}

.header .header-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header .header-action .header-action_login {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    letter-spacing: 0.3px;
}

.header .header-action .header-action_login:before {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: 1px;
    position: absolute;
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.header .header-action .header-action_login:hover:before {
    opacity: 1;
    visibility: visible;
}

.header .header-action .header-action_register {
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 9px 22px;
    text-align: center;
    letter-spacing: 0.3px;
}

.header .header-action .header-action_register:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header .header-action > a + a {
    margin-left: 15px;
}

@media screen and (max-width: 991px) {
    .header {
        display: none;
    }
}

.section-gap {
    padding: 50px 0;
}

@media screen and (max-width: 991px) {
    .section-gap {
        padding-bottom: 0;
    }
}

.section-heading {
    margin-bottom: 40px;
}

.section-heading .sub {
    color: #788AA2;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.62px;
    line-height: 32px;
}

.section-heading .title {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 45px;
    margin-bottom: 10px;
    color: var(--dark-color);
}

.section-heading .desc {
    line-height: 1.7;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.section-heading .button > a {
    font-weight: 700;
    color: var(--dark-color);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-heading .button > a i {
    margin-left: 7px;
    -webkit-transition: .3s margin-left ease;
    -o-transition: .3s margin-left ease;
    transition: .3s margin-left ease;
    font-size: 1.6em;
}

.section-heading .button > a:hover {
    color: var(--primary-color);
}

.section-heading .button > a:hover i {
    margin-left: 12px;
}

@media screen and (max-width: 991px) {
    .section-heading .title {
        font-size: 1.6em;
        line-height: 32px;
    }

    .section-heading .desc {
        font-size: 1.05em;
    }
}

.section-method {
    background-repeat: no-repeat;
    background-position: 0% -100%;
    background-size: 37%;
    padding: 100px 0 70px;
}

@media screen and (max-width: 991px) {
    .section-method {
        padding: 60px 0 0;
    }
}

.integration-card .card-body {
    margin-top: 17px;
}

.integration-card .card-body .card-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--dark-color);
    font-weight: 700;
    line-height: 34px;
}

.integration-card .card-body .card-text {
    font-size: 1.1em;
    margin-bottom: 18px;
    line-height: 26px;
    color: var(--dark-color);
}

.integration-card .card-body .card-link > a {
    font-weight: 700;
    color: var(--dark-color);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.integration-card .card-body .card-link > a i {
    margin-left: 7px;
    -webkit-transition: .3s margin-left ease;
    -o-transition: .3s margin-left ease;
    transition: .3s margin-left ease;
    font-size: 1.6em;
    position: relative;
    top: 1px;
}

.integration-card .card-body .card-link > a:hover {
    color: var(--primary-color);
}

.integration-card .card-body .card-link > a:hover i {
    margin-left: 12px;
}

@media screen and (max-width: 991px) {
    .integration-card .card-body .card-title {
        font-size: 1.3em;
    }

    .integration-card .card-body .card-text {
        font-size: 1.05em;
    }
}

.cases-item {
    margin-top: 60px;
}

.cases-item .cases-item_image {
    margin-right: 34px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cases-item .cases-item_image img {
    width: 122px;
    max-width: 100%;
    height: auto;
}

.cases-item .cases-item_content .cases-item_title {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--dark-color);
    font-weight: 700;
    line-height: 34px;
}

.cases-item .cases-item_content .cases-item_text {
    font-size: 1.1em;
    margin-bottom: 18px;
    line-height: 26px;
    color: var(--dark-color);
}

@media screen and (max-width: 991px) {
    .slide-cases {
        margin-top: 30px;
        margin-left: -.5rem;
        padding-bottom: 50px;
    }

    .cases-item {
        margin-top: 0;
        height: 100%;
        flex-direction: column;
        box-shadow: 0 2px 8px 0 rgb(150 155 177 / 75%);
        padding: 15px;
        border-radius: 5px;
    }

    .cases-item .cases-item_image {
        width: 100%;
        margin-right: 0
    }

    .cases-item .cases-item_content .cases-item_title {
        font-size: 1.3em;
        line-height: 28px;
    }

    .cases-item .cases-item_content .cases-item_text {
        font-size: 1.05em;
    }

    .slide-cases .swiper-pagination {
        width: auto;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        z-index: 4;
    }

    .slide-cases .swiper-pagination .swiper-pagination-bullet {
        border-radius: 50%;
        height: 25px;
        width: 12px;
        background: transparent;
        border: 2px solid var(--primary-color);
        opacity: .5;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        margin: 0 6px;
        display: block;
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(.45);
        -ms-transform: scaleY(.45);
        transform: scaleY(.45);
    }

    .slide-cases .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
    .slide-cases .swiper-pagination .swiper-pagination-bullet:hover {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        border-radius: 30px;
    }

    .slide-cases .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--primary-color);
        opacity: 1;
    }
}

.article-card .card-body {
    margin-top: 17px;
}

.article-card .card-body .card-sub {
    margin-bottom: 10px;
    color: #788AA2;
    font-size: 1em;
    font-weight: 500;
}

.article-card .card-body .card-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article-card .card-body .card-title > a {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--dark-color);
    font-weight: 700;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.article-card .card-header .card-img-top:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .8;
}

.article-card .card-body .card-title:hover > a {
    color: var(--primary-color);
}

.article-card .card-body .card-text {
    font-size: 1.1em;
    margin-bottom: 18px;
    line-height: 26px;
    color: var(--dark-color);
}

@media screen and (max-width: 991px) {
    .article-card .card-body .card-title > a {
        font-size: 1.3em;
    }

    .article-card .card-body .card-text {
        font-size: 1.05em;
    }
}

.section-cta {
    background-color: var(--primary-color);
    text-align: center;
}

.section-cta .section-heading .title {
    color: var(--white);
}

.section-cta .section-heading .button-theme.button-primary {
    background-color: var(--white);
    color: var(--primary-color) !important;
    border-color: var(--white);
}

.section-cta .section-heading .button-theme.button-primary:hover {
    background-color: rgb(210, 210, 210);
    color: var(--primary-color) !important;
}

@media screen and (max-width: 600px) {
    .section-cta .section-heading .button {
        flex-wrap: wrap;
    }

    .section-cta .section-heading .button-theme {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.button-theme.button-outline:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary-color) !important;
}

.section-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-links ul li {
    position: relative;
    padding: 5px 27px 5px 23px;
    border-right: 1px solid #19212d;
}

.section-links ul li:first-child {
    padding-left: 0;
}

.section-links ul li:last-child {
    border-right: 0;
}

.section-links ul li a {
    font-weight: 700;
    color: var(--dark-color);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-links ul li a i {
    margin-left: 7px;
    -webkit-transition: .3s right ease;
    -o-transition: .3s right ease;
    transition: .3s right ease;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
}

.section-links ul li a:hover {
    color: var(--primary-color);
}

.section-links ul li a:hover i {
    right: 8px;
}

.section-links ul li .link-image svg {
    width: 36px;
    height: 36px;
}

@media screen and (max-width: 768px) {
    .section-links {
        padding: 30px 0;
    }

    .section-links ul {
        flex-wrap: wrap;
    }

    .section-links ul li {
        border: none;
        padding: 15px 5px !important;
        width: 50%;
        text-align: center;
    }

    .section-links ul li > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-links ul li > a .link-image {
        margin-bottom: 5px;
    }

    .section-links ul li > a .link-content {
        position: relative;
    }

    .section-links ul li a i {
        right: -15px;
        top: calc(50% + 1px);
    }

    .section-links ul li a:hover i {
        right: -23px;
    }
}

.section-merchants {
    background-color: var(--primary-color);
}

.section-merchants .section-heading .title,
.section-merchants .section-heading .desc,
.section-merchants .section-heading .button > a {
    color: var(--white);
}

.section-merchants .section-heading .button > a + a {
    margin-top: 10px;
}

.section-merchants .section-heading .button > a:hover {
    color: rgb(210, 210, 210);
}

.section-banner {
    background-color: var(--primary-color);
    position: relative;
}

.section-banner .banner-item {
    padding: 140px 0;
}

.section-banner .banner-item .section-heading .title,
.section-banner .banner-item .section-heading .desc {
    color: var(--white);
}

.section-banner .banner-item .section-heading .title {
    font-size: 3em;
    line-height: 54px;
    margin-bottom: 30px;
}

.section-banner .banner-item .section-heading .desc {
    margin-bottom: 30px;
    font-size: 1.2em;
}

.section-banner .banner-item .section-heading .sub {
    margin-bottom: 30px;
}

.section-banner .banner-item .section-heading .sub span {
    display: inline;
    font-size: .8em;
    background-color: var(--dark-color);
    color: #fff;
    border-radius: 20px;
    padding: 5px 12px;
    font-weight: 700;
    margin-right: 5px;
}

.section-banner .banner-item .section-heading .sub > a {
    font-weight: 700;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .9em;
    color: #fff;
}

.section-banner .banner-item .section-heading .sub > a i {
    margin-left: 7px;
    -webkit-transition: .3s margin-left ease;
    -o-transition: .3s margin-left ease;
    transition: .3s margin-left ease;
    font-size: 1.6em;
}

.section-banner .banner-item .section-heading .sub > a:hover i {
    margin-left: 12px;
}

.section-banner .banner-item .section-heading .button-theme.button-primary {
    background-color: var(--white);
    color: var(--primary-color) !important;
    border-color: var(--white);
}

.section-banner .banner-item .section-heading .button-theme.button-primary:hover {
    background-color: rgb(210, 210, 210);
    color: var(--primary-color) !important;
}

.section-banner .swiper-pagination {
    width: auto;
    bottom: unset;
    left: unset;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 4;
}

.section-banner .swiper-pagination .swiper-pagination-bullet {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: transparent;
    border: 2px solid var(--white);
    opacity: .5;
    -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, width .3s ease-in-out, border-radius .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, width .3s ease-in-out, border-radius .3s ease-in-out;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, width .3s ease-in-out, border-radius .3s ease-in-out;
    margin: 6px 0 6px auto;
    display: block;
}

.section-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.section-banner .swiper-pagination .swiper-pagination-bullet:hover {
    width: 25px;
    border-radius: 30px;
}

.section-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--white);
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .section-banner .banner-item {
        padding: 60px 0 90px;
    }

    .section-banner .banner-item .section-heading .title {
        font-size: 2.2em;
        line-height: 44px;
    }

    .section-banner .banner-item .section-heading .desc {
        font-size: 1.1em;
    }

    .section-banner .swiper-pagination {
        width: auto;
        top: unset;
        right: unset;
        bottom: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        z-index: 4;
    }

    .section-banner .swiper-pagination .swiper-pagination-bullet {
        border-radius: 50%;
        height: 25px;
        width: 12px !important;
        background: transparent;
        border: 2px solid var(--white);
        opacity: .5;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        margin: 0 6px;
        display: block;
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(.45);
        -ms-transform: scaleY(.45);
        transform: scaleY(.45);
    }

    .section-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
    .section-banner .swiper-pagination .swiper-pagination-bullet:hover {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        border-radius: 30px;
    }

    .section-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--white);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .section-banner .banner-item .section-heading .button {
        flex-wrap: wrap;
    }

    .section-banner .banner-item .section-heading .button-theme {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer {
    background-color: #f5f4f4;
    padding: 55px 0;
    color: var(--dark-color);
}

.footer .footer-lists {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .footer-lists .footer-list_item .footer-list_collapse {
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
}

.footer .footer-lists .footer-list_item ul li a {
    color: var(--dark-color);
    font-size: 1em;
    display: block;
}

.footer .footer-lists .footer-list_item ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline !important;
}

.footer .footer-lists .footer-list_item ul li + li a {
    margin-top: 10px;
}

.footer .footer-lists .footer-list_item.footer-list_social ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .footer-lists .footer-list_item.footer-list_social ul > li > a {
    margin-top: 0 !important;
    font-size: 1.5em;
    color: var(--dark-color);
}

.footer .footer-lists .footer-list_item button {
    font-size: 1.05em;
    outline: 0;
    box-shadow: none;
}

.footer .footer-lists .footer-list_item .dropdown-menu {
    padding: 0;
    font-size: 1em;
    margin-top: 10px;
}

.footer .footer-lists .footer-list_item .dropdown-menu .dropdown-item {
    padding: .5rem .75rem;
}

.footer .footer-lists .footer-list_item .dropdown-menu .dropdown-item:hover,
.footer .footer-lists .footer-list_item .dropdown-menu .dropdown-item.active {
    background: var(--primary-color);
    color: #fff;
}

.footer .footer-lists .footer-list_item.footer-list_social ul > li > a:hover {
    color: var(--primary-color);
}

.footer .footer-lists .footer-list_item.footer-list_social ul > li + li {
    margin-left: 15px;
}

.footer hr {
    width: 100%;
    border-top-color: #e3e2e2;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .footer-lists .footer-list_item.footer-list_vertical {
    width: 100%;
}

.footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 10px;
}

.footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item:last-child {
    margin-bottom: 0;
}

.footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item .footer-list_collapse {
    margin-right: 35px;
    margin-bottom: 0;
    min-width: 140px;
}

.footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item ul li + li a {
    margin-top: 0;
    margin-left: 28px;
}

.footer .footer-menu {
    margin-top: 40px;
    text-align: center;
}

.footer .footer-menu a {
    color: var(--dark-color);
    font-size: .85em;
    display: inline-block;
    margin: 0 10px;
}

.footer .footer-menu a:hover {
    color: var(--primary-color);
}

.footer .footer-menu a:after {
    content: '/';
    color: var(--dark-color);
    float: right;
    margin-right: -15px;
    font-size: 15px;
    margin-top: -2px;
}

.footer .footer-menu a:last-child:after {
    display: none;
}

.footer .footer-copyright {
    color: var(--dark-color);
    font-size: .85em;
    display: block;
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width: 992px) {
    .footer .footer-lists .footer-list_item .footer-list_collapse {
        pointer-events: none;
    }

    .footer .footer-lists .footer-list_item .collapse {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .footer .container:not(.px-3),
    .footer .container:not(.px-3) .row,
    .footer .container:not(.px-3) .row [class*=col-] {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .footer .footer-lists {
        flex-direction: column;
    }

    .footer .footer-lists .footer-list_item .footer-list_collapse {
        padding: 15px;
        border-bottom: 1px solid #e9e9e9;
        position: relative;
    }

    .footer .footer-lists .footer-list_item .footer-list_collapse:before {
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 15px;
        font-size: 1.2em;
        color: var(--dark-color);
        line-height: 0;
        top: 27px;
        transition: var(--transition);
    }

    .footer .footer-lists .footer-list_item.footer-list_social .footer-list_collapse:before,
    .footer .footer-lists .footer-list_item.footer-list_language .footer-list_collapse:before {
        display: none;
    }

    .footer .footer-lists .footer-list_item.footer-list_social {
        order: 3;
    }

    .footer .footer-lists .footer-list_item.footer-list_language {
        order: 2;
    }

    .footer .footer-lists .footer-list_item .footer-list_collapse[aria-expanded=true]:before {
        transform: rotate(180deg);
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item,
    .footer .footer-lists .footer-list_item .footer-list_collapse {
        margin-bottom: 0;
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item .footer-list_collapse {
        width: 100%;
        margin-right: 0;
    }

    .footer .footer-lists .footer-list_item ul {
        margin-bottom: 0;
        padding: 15px;
    }

    .footer .footer-lists .footer-list_item ul li + li a {
        margin-top: 15px;
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item {
        display: block;
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item ul {
        flex-wrap: wrap;
        padding-top: 0;
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item ul li + li a {
        margin-left: 0;
    }

    .footer .footer-lists .footer-list_item.footer-list_vertical .footer-list_vertical__item ul li a {
        margin-right: 20px;
        margin-top: 15px !important;
    }

    .footer .footer-lists .footer-list_item .dropdown,
    .footer .footer-lists .footer-list_item.footer-list_social ul {
        padding: 0 15px 15px;
    }

    .footer hr {
        display: none;
    }

    .footer .footer-menu {
        margin-top: 20px;
    }
}


.section-breadcrumb {
    padding: 80px 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section-breadcrumb .breadcrumb-title {
    margin-bottom: 15px;
    color: var(--white);
    font-weight: 600;
    font-size: 2em;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    justify-content: center;
    font-size: 1.05em;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item {
    color: #d1d5db;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item > a {
    color: var(--white);
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item > a:hover {
    color: var(--white);
    text-decoration: underline !important;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item {
    position: relative;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item + .breadcrumb-item {
    margin-left: 30px;
}

.section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    float: none;
    padding: 0;
    font-family: "Font Awesome 5 Pro";
    content: "\f105";
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    left: -15px;
    color: #d1d5db;
    font-size: 1.1em;
    opacity: .7;
}

@media screen and (max-width: 991px) {
    .section-breadcrumb {
        padding: 50px 0;
    }

    .section-breadcrumb .breadcrumb-title {
        font-size: 1.5em;
    }

    .section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item {
        display: none;
    }

    .section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item:nth-child(1),
    .section-breadcrumb .breadcrumb-nav .breadcrumb .breadcrumb-item:nth-child(2) {
        display: block;
    }
}

.section-pagination {
    margin-top: 40px;
}

.section-pagination .pagination {
    margin-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-pagination .pagination li + li {
    margin-left: 15px;
}

.section-pagination .pagination li .page-link {
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
    border: 2px solid var(--primary-color);
    color: #666;
}

.section-pagination .pagination li.pageactive .page-link,
.section-pagination .pagination li .page-link:hover {
    color: var(--white);
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.page-gap {
    padding: 50px 0;
}

.page-detail {
    background-color: #F8FAFC;
}

.sidebar-list {
    margin-bottom: 30px;
}

.sidebar-list:last-child {
    margin-bottom: 0;
}

.sidebar-list ul li {
    color: #71717A;
}

.sidebar-list ul li + li {
    margin-top: 12px;
    position: relative;
}

.sidebar-list ul li a {
    color: #58585e;
}

.sidebar-list ul li a:hover {
    color: var(--primary-color);
}

.section-subheading {
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 1.3em;
    font-weight: 700;
    color: #1c1c1e;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.article-meta {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-theme-900);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1em;
}

.article-meta > * {
    display: flex;
    align-items: center;
}

.article-meta .article-meta_day,
.article-meta .article-meta_social {
    margin-left: 20px;
}

.article-meta i {
    margin-right: 5px;
    color: var(--gray-theme-300);
}

.article-meta b {
    color: var(--gray-theme-300);
    margin-right: 5px;
}

.article-meta .article-meta_social {
    margin-left: auto;
}

.article-meta .article-meta_social .fb-like {
    top: -2px;
}

.article-meta .article-meta_social .fb-like > span {
    height: 19px !important;
    width: 130px !important;
}

.article-meta .article-meta_social .fb-like > span > iframe {
    width: 130px !important;
}

@media screen and (max-width: 600px) {
    .article-meta .article-meta_social {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
